.hero-image{
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/static/img/comp_resize.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 110%;
	position: relative;
	margin-left:-20px;
	margin-top:-20px;
}

.hero-text{
	/*text-align: center;*/
	/*top: 50%;*/
	/*left: 50%;*/
	position: absolute;
	top: 2px;
	left: 40px;
	/*transform: translate(-50%, -50%);*/
	color: white;
	font-size: 18px;
}
.hero-links{
	position: relative;
	padding: 40px 40px 155px 20px;
	font-size: 24px;
	word-spacing: 1rem;
}

body{
	font-family: Arial, Verdana, sans-serif;
	text-align: center;
	color: black;
	overflow-x: hidden;
}

.foot{
	position: fixed;
	background-color: #1f1f1f;
	text-align: center;
	color: white;
	left: 0;
	bottom: 0;
 	width: 100%;
}

h2{
	color:black;
}

li{
	display: inline;
	padding: 10px;
}

a{
	color: #ffffff;
	text-decoration: none;
}

#content{
	color: black;
}

p{
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 50px;
}
