<!-- templates/base.html -->
{% load static %}
<html>
	<head>
		<title>CSloopED</title>
		<link href="{% static 'css/base.css' %}" rel="stylesheet">
	</head>
	<body>
		<div class="hero-image">
			<div class="hero-text">
				<h1><a href="{% url 'home' %}">CSloopED</a></h1>
			</div>

			<div class="hero-links">
				<a href="">HOME</a>
				<a href="">ABOUT</a>
				<a href="">FAQ</a>
			</div>
		</div>
	
		<div id="content">
			{% block content %}
			{% endblock content %}
		</div>

	</body>

	<footer>
		<div class="foot">
		<ul>
			<li><a href="https://twitter.com/c_sloop">Twitter</a></li>
			<li><a href="https://github.com/Robinhoets">Github</a></li>
			<li><a href="https://stackoverflow.com/users/4148035/robe">Stack Overflow</a></li>
		</ul>
		</div>
	</footer>
</html>
